html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(196, 26, 130, 0.938813025210084) 0%,
    rgba(131, 64, 183, 0.6138830532212884) 54%,
    rgba(191, 210, 247, 0.19371498599439774) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 40px 1fr 20px;
  column-gap: 16px;
  row-gap: 16px;
}

.header {
  grid-column: 1 / 3;
  height: 40px;
  width: 100%;
}

.navigation {
  background: #eae8ff;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.navigation__link {
  width: 20%;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
}

.main {
  background: #eae8ff;
  max-width: 1000px;
  height: 100%;
  margin-left: 16px;
  padding: 5px;
  position: relative;
}

.main-header {
  color: #413f54;
  display: block;
  margin: 10px 10px 30px 10px;
  padding: 10px 20px;
}

.picture {
  width: 150px;
  height: 150px;
  float: right;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}

.about-me {
  display: block;
}

.about-me__answear {
  color: #2a2b2a;
  width: 80%;
  display: block;
  margin: 5px 10px;
  padding: 10px;
}

.about-me__header {
  color: #0b4f6c;
  width: 80%;
  display: block;
  margin: 5px 10px;
  padding: 20px;
}

.about-me__question {
  color: #208aae;
  width: 80%;
  display: block;
  margin: 5px 10px;
  padding: 10px;
}

.footer {
  background: #eae8ff;
  width: 100%;
  height: 20px;
  margin: 2px auto;
  padding: 5px;
  grid-column: 1 / 3;
}



@media (max-width: 425px) {
  .aside {
    display: none;
  }

  .main {
    grid-column: 1 / 3;
    margin: 5px;
  }

  .picture {
    width: 100px;
    height: 100px;
    top: 70px;
  }
}
