body {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(196, 26, 130, 0.938813025210084) 0%,
    rgba(131, 64, 183, 0.6138830532212884) 54%,
    rgba(191, 210, 247, 0.19371498599439774) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
}

.navigation {
  background: #eae8ff;
  width: 100%;
  height: 8%;
  margin: 2px auto;
  padding: 5px;
  box-sizing: border-box;
}

.navigation__link {
  display: inline-block;
  margin: 5px 10px;
  padding: 5px;
  box-sizing: border-box;
}

.main {
  background: #eae8ff;
  max-width: 1000px;
  height: 85%;
  margin: 2px auto;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
}

.main-header {
  color: #413f54;
  display: block;
  box-sizing: border-box;
  margin: 10px 10px 30px 10px;
  padding: 10px 20px;
}

.picture {
  width: 150px;
  height: 150px;
  float: right;
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}

.about-me {
  display: block;
}

.about-me__answear {
  color: #2a2b2a;
  width: 80%;
  display: block;
  box-sizing: border-box;
  margin: 5px 10px;
  padding: 10px;
}

.about-me__header {
  color: #0b4f6c;
  width: 80%;
  display: block;
  box-sizing: border-box;
  margin: 5px 10px;
  padding: 20px;
}

.about-me__question {
  color: #208aae;
  width: 80%;
  display: block;
  box-sizing: border-box;
  margin: 5px 10px;
  padding: 10px;
}

.footer {
  background: #eae8ff;
  width: 1000px;
  height: 7%;
  margin: 2px auto;
  padding: 5px;
  box-sizing: border-box;
}
