html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(196, 26, 130, 0.938813025210084) 0%,
    rgba(131, 64, 183, 0.6138830532212884) 54%,
    rgba(191, 210, 247, 0.19371498599439774) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
}

.aside {
  display: none;
}

.header {
  min-height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.navigation {
  background-color: #c51f80;
  padding: 5px;
  display: none;
  &__link {
    width: 20%;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 0 16px;
  }
  &__open {
    display: block;
  }
}

.hamburger {
  background: #c51f80;
  border: none;
  color: white;
  position: fixed;
  top: 2px;
  right: 2px;
}

.main {
  background-color: #eae8ff;
  height: 100%;
  margin: 60px auto 0;
  padding: 5px;
  position: relative;
  z-index: 1;
  &-header {
    color: #413f54;
    display: block;
    margin: 10px 10px 30px 10px;
    padding: 10px 20px;
  }
}


.picture {
  width: 100px;
  height: 100px;

  float: right;
  display: block;
  position: absolute;
  top: 70px;
  right: 10px;
}

.about-me {
  display: block;
  &__answear {
    color: #2a2b2a;
    width: 80%;
    display: block;
    margin: 5px 10px;
    padding: 10px;
  }
  &__header {
    color: #0b4f6c;
    width: 80%;
    display: block;
    margin: 5px 10px;
    padding: 20px;
  }
  &__question {
    color: #208aae;
    width: 80%;
    display: block;
    margin: 5px 10px;
    padding: 10px;
    &::before {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        background-color: #c51f80;
        border-radius: 50%;
        margin-right: 4px;
      }
  }
}


.about-me__question

.footer {
  background: #eae8ff;
  width: 100%;
  height: 20px;
  margin: 2px auto;
  padding: 5px;
}

@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 40px 1fr 20px;
    column-gap: 16px;
    row-gap: 16px;
  }

  .aside {
    display: flex;
    grid-area: 2 / 2 / 3 / 3;
  }

  .header {
    position: absolute;
    height: 40px;
    grid-area: 1 / 1 / 2 / 3;
  }

  .navigation {
    background-color: #f1eef0;
    height: 40px;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__link {
        height: 30px;
        margin: 0;
      }
  }


  .hamburger {
    display: none;
  }

  .main {
    margin: 0 16px;
    height: 100%;
    grid-area: 2 / 1 / 3 / 2;
  }

  .footer {
    grid-area: 3 / 1 / 4 / 3;
  }

  .picture {
    width: 150px;
    height: 150px;
    top: 10px;
  }
}
