body {
  background-image: url(img/moroccan-flower-dark/moroccan-flower-dark.png);
}

.navigation {
  background: #eae8ff;
  width: 1000px;
  height: 8vh;
  margin: 2px auto;
  padding: 5px;
  box-sizing: border-box;
}

main {
  background: #eae8ff;
  width: 1000px;
  height: 85vh;
  margin: 2px auto;
  padding: 5px;
  box-sizing: border-box;
}

.main-header {
  color: #413F54;
}

.about-me {
}

.about-me__answear {
  color: #2a2b2a;
}

.about-me__header {
  color: #0B4F6C;
}

.about-me__question {
  color: #208aae;
}

.footer {
  background: #eae8ff;
  width: 1000px;
  height: 7vh;
  margin: 2px auto;
  padding: 5px;
  box-sizing: border-box;
}
